.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6,
.md p,
.md blockquote {
    margin: 0;
    padding: 0;
}

.md  {
    font-family: "Microsoft YaHei",  "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #737373;
    background-color: white;
    margin: 10px 13px 10px 13px;
}

.md table {
	margin: 10px 0 15px 0;
	border-collapse: collapse;
}

.md td,th {	
	border: 1px solid #ddd;
	padding: 3px 10px;
}
.md th {
	padding: 5px 10px;	
}

.md a {
    color: #0069d6;
}
.md a:hover {
    color: #0050a3;
    text-decoration: none;
}
.md a img {
    border: none;
}
.md p {
    margin-bottom: 9px;
}
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
	font-weight: bold;
    color: #404040;
    line-height: 36px;
}
.md h1 {
    margin-bottom: 18px;
    font-size: 30px;
}
.md h2 {
    font-size: 24px;
}
.md h3 {
    font-size: 18px;
}
.md h4 {
    font-size: 16px;
}
.md h5 {
    font-size: 14px;
}
.md h6 {
    font-size: 13px;
}
.md hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.md blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
.md blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
.md blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
.md code, .md pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
.md code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.md pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 0px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.md pre code {
    background-color: transparent;
    color:#737373;
    font-size: 11px;
    padding: 0;
}
.md sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}



#slidy-container { 
width: 320px; overflow: hidden; margin: 20px; margin-left: 0;
  
border-radius: 2px;
border: 1px solid #999;
}

#slidy-container img { 
border-radius: 2px;
}